apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: {{ cluster_name }}-l2-pool
  namespace: metallb-system
spec:
  addresses:
    - {{ metallb_pool_range }}

---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: {{ cluster_name }}-l2-adv
  namespace: metallb-system
spec:
  ipAddressPools:
    - {{ cluster_name }}-l2-pool